{% extends "staff/base.html" %}


{% block content %}

{% if form.errors %}
<p>Ваше имя и пароль не совпадают. Проверьте, пожалуйста правильность введенных данных.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У Вас нет прав для просмотра данной страницы. Для просмотра, залогиньтесь в аккаунт с требуемыми правами.</p>
    {% else %}
    <p>Для просмотра требуется авторизация.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}