<!DOCTYPE html>
<html lang=en>

<head>
<title>{% block head_title %}{% endblock head_title %}</title>
{% include 'snippets/css.html' %}
</head>
<body>

<div class='container'>
    {% include 'snippets/nav.html' %}

    {% block content %}{% endblock content %}
</div>



</body>
</html>