{% extends "staff/base.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    Этот штаб будет закрыт. Вы уверены?
    <ul>
            <li>{{ object }}</li>
    </ul>
    <input type="submit" class="btn btn-danger" value="Удалить" />
    <a href='{% url "shtab-list" %}' class="btn btn-success">Отменить и вернуться у списку штабов</a>
</form>
{% endblock content %}