{% extends "staff/base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Список штабов</div>
    <ul class="list-group">
        {% for shtab in object_list %}
        <li class="list-group-item"><a href='{{ shtab.get_absolute_url }}'>{{ shtab }}</a><br/> </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}