{% extends "staff/base.html" %}

{% block content %}
<div class="panel panel-default">

    <div class="panel-heading">
        <h2><b>Информация о штабе</b></h2>
        <h3><b>Название:</b> {{ object.name }}</h3>
        <h3><b>Адрес:</b> {{ object.address }}</h3>
    </div>

    <table class="table">
        {% for worker in object.hq.all %}
            <tr>
                <td>{{ worker }}, {{ worker.role }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<a href="#edit" data-toggle="collapse" class="btn btn-primary">Редактировать штаб</a>
<a href="#transfer" data-toggle="collapse" class="btn btn-primary">Перевести сотрудников</a>
<a href="#layoff" data-toggle="collapse" class="btn btn-primary">Уволить сотрудников</a>
<a href="{% url 'close-shtab' object.id %}" class="btn btn-danger">Закрыть штаб</a>

<div id="edit" class="collapse">
    <h3>Редактировать</h3>
    {% include 'snippets/form-snippet.html' with form=form %}
</div>

<div id="transfer" class="collapse">
    <h3>Перевести выбранных сотрудников</h3>
    <h4>Выберите сотрудников</h4>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="transfer">
            {% for worker in object.hq.all %}
                <div class="checkbox">
                    <label><input name="worker_pk" type="checkbox" value="{{ worker.pk }}">{{ worker.pk }}  - {{ worker }}, {{ worker.role }}</label>
                </div>
            {% endfor %}
        <h4>Выберите штаб для перевода</h4>
        <div class="col-sm-4">
            <select name='to_hq' class="form-control col-lg-2">
                {% for hq in all_hq %}
                    <option>{{ hq.id }} - {{ hq }}</option>
                {% endfor %}
            </select>
        </div>
        <br><br><br>
        <input type="submit" value="Перевести" class="btn btn-info">
    </form>
</div>


<div id="layoff" class="collapse">
<h3>Уволить выбранных сотрудников</h3>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="remove">
        {% for worker in object.hq.all %}
            <div class="checkbox">
                <label><input name="worker_pk" type="checkbox" value="{{ worker.pk }}">{{ worker.pk }}  - {{ worker }}, {{ worker.role }}</label>
            </div>
        {% endfor %}
        <input type="submit" value="Уволить" class="btn btn-danger">
    </form>
</div>
{% endblock content %}