{% extends "staff/base.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    Этот сотрудник будет уволен. Вы уверены?
    <ul>
            <li>{{ object }}</li>
    </ul>
    <input type="submit" class="btn btn-primary" value="Удалить" />
    <a href='{% url "workers-list" %}'>Отменить и вернуться к списку сотрудников</a>
</form>
{% endblock content %}