{% extends "staff/base.html" %}

{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3><b>Имя сотрудника:</b> {{ object.name }}</h3>
        <h3><b>Роль сотрудника:</b> {{ object.role }}</h3>
        <h3><b>Штаб сотрудника:</b> {{ object.hq }}</h3>
    </div>


</div>

<hr>
<a href="#edit" data-toggle="collapse" class="btn btn-primary">Редактировать сотрудника</a>
<a href="{% url 'layoff-worker' object.id %}" class="btn btn-danger">Уволить сотрудника</a>

<div id="edit" class="collapse">
    <h3>Редактировать</h3>
    {% include 'snippets/form-snippet.html' with form=form %}
</div>
{% endblock content %}