{% extends "staff/base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Список сотрудников</div>
    <ul class="list-group">
        {% for worker in object_list %}
            <li class="list-group-item"><a href='{{ worker.get_absolute_url }}'>{{ worker }}</a><br/> </li>
        {% endfor %}
    </ul>
</div>



{% endblock content %}