{% if form.errors.non_field_errors %}
{{ form.errors.non_field_errors }}
{% endif %}
<form method='POST'> {% csrf_token %}
    <div class="form-group">
        <div class="col-lg-4">
            {{ form }}
            <br>
        <button type='submit' class="btn btn-default form-control">Сохранить</button>
        </div>
    </div>
</form>