<nav class="navbar">
    <h1>Управление сетью филиалов</h1>
    <ul class="breadcrumb">
        <li><a href='{% url "mainpage" %}'>Главная</a></li>
        {% if request.user.is_authenticated %}
            <li><a href='{% url "shtab-list" %}'>Список штабов</a></li>
            <li><a href='{% url "create-shtab" %}'>Создать штаб</a></li>
            <li><a href='{% url "workers-list" %}'>Список сотрудников</a></li>
            <li><a href='{% url "create-worker" %}'>Создать сотрудника</a></li>
            <li><a href='{% url "create-new" %}'>Создать новость</a></li>
            <li><b>Ваше имя пользователя:</b> <i>{{ user.username }}</i> [ <a href='{% url "logout" %}'>Выйти</a> ]</li>
        {% else %}
            <li><b><a href='{% url "login" %}'>Войти в свой аккаунт</a></b></li>
        {% endif %}
    </ul>
</nav>

