{% extends "staff/base.html" %}

{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3>{{ object.header }}</h3>
        <p>{{ object.content }}</p>
        <br>
        <p><i>Создано офисом:</i> {{ new.shtab }}, <i>дата создания: </i>{{ new.date }}</p>
    </div>


</div>

<hr>
<a href="#edit" data-toggle="collapse" class="btn btn-primary">Редактировать новость</a>
<a href="{% url 'layoff-worker' object.id %}" class="btn btn-danger">Удалить новость</a>

<div id="edit" class="collapse">
    <h3>Редактировать Новость</h3>
    {% include 'snippets/form-snippet.html' with form=form %}
</div>
{% endblock content %}