{% extends "staff/base.html" %}

{% block content %}
<h2>Новости</h2>
{% for new in object_list %}
    <div class="panel panel-default">
      <div class="panel-heading"><h3>{{ new.header }}</h3></div>
        <ul class="list-group">

            <li class="list-group-item">{{ new.content }}<br/> </li>
            <li class="list-group-item"><i>Создано офисом:</i> {{ new.shtab }}, <i>дата создания: </i>{{ new.date }}<br/> </li>
        </ul>
    </div>
{% endfor %}
{% endblock content %}